pipeline/pipe_cd_sql_to_adls.json
{
	"name": "pipe_cd_sql_to_adls",
	"properties": {
		"activities": [
			{
				"name": "LastModified",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.watermark where table_name = '@{pipeline().parameters.table_name_par}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ls_AzureSqlTable_gen",
						"type": "DatasetReference",
						"parameters": {
							"ds_name_table": {
								"value": "@pipeline().parameters.table_name_par",
								"type": "Expression"
							},
							"ds_schema_table": {
								"value": "@pipeline().parameters.schema_par",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "MaxlasModified",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT max(ModifiedDate) as ModifiedDate from @{pipeline().parameters.schema_par}.@{pipeline().parameters.table_name_par}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ls_AzureSqlTable_gen",
						"type": "DatasetReference",
						"parameters": {
							"ds_name_table": "Product",
							"ds_schema_table": "salesLT"
						}
					}
				}
			},
			{
				"name": "Set ultimo valor lido",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LastModified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Last_modified",
					"value": {
						"value": "@activity('LastModified').output.firstRow.Last_Modified",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set ultimo valor escrito",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "MaxlasModified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Max valor escrito",
					"value": {
						"value": "@activity('MaxlasModified').output.firstRow.ModifiedDate",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Set ultimo valor lido",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set ultimo valor escrito",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Last_modified'),variables('Max valor escrito'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{pipeline().parameters.schema_par}.@{pipeline().parameters.table_name_par} where ModifiedDate > '@{variables('Last_modified')}' and ModifiedDate <= '@{variables('Max valor escrito')}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ls_AzureSqlTable_gen",
									"type": "DatasetReference",
									"parameters": {
										"ds_name_table": {
											"value": "@pipeline().parameters.table_name_par",
											"type": "Expression"
										},
										"ds_schema_table": {
											"value": "@pipeline().parameters.schema_par",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet1",
									"type": "DatasetReference",
									"parameters": {
										"ds_container": {
											"value": "@pipeline().parameters.container_par",
											"type": "Expression"
										},
										"ds_directory": {
											"value": "@pipeline().parameters.directory_par",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_AzureSqlDatabase",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "update dbo.watermark set Last_Modified = '@{variables('Max valor escrito')}'\nwhere table_name = '@{pipeline().parameters.table_name_par}'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema_par": {
				"type": "string",
				"defaultValue": "salesLT"
			},
			"table_name_par": {
				"type": "string",
				"defaultValue": "Product"
			},
			"container_par": {
				"type": "string",
				"defaultValue": "landing"
			},
			"directory_par": {
				"type": "string",
				"defaultValue": "adventurefinalworks/incremental/Product"
			}
		},
		"variables": {
			"Last_modified": {
				"type": "String"
			},
			"Max valor escrito": {
				"type": "String"
			}
		},
		"annotations": []
	}
}